@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Base Styles */

:root {
  --content: #2c2c2c;
  --content-inv: #fffafa;
  --content-scd: #a0a0a0;
  --content-ter: #666666;
  --brand: #8937d6;
  --bg: #24252a;
  --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

html {font-size: 16px;}

body {
  background: linear-gradient(#24252aef 60%, #24252aff 90%),
    url("/assets/background-hero.png");
  background-size: 100vw 100vh;
  background-attachment: scroll;
  height: fit-content;
  background-repeat: no-repeat;
}

li,
a,
button {
  color: var(--content-scd);
  text-decoration: none;
  font-size: 13px;
  position: relative;
}

li::before,
button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4444;
  opacity: 0;
  z-index: -1;
  border-radius: 8px;
  transition: opacity 0.2s ease;
}

li:hover::before,
button:hover::before {
  opacity: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10%;
  position: sticky;
  top: 0;
  z-index: 999;
  background: var(--bg);
}

header::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1.3%;
  z-index: 998;
  background: radial-gradient(
    circle,
    transparent 25%,
    #6e6e6e 50%,
    transparent 75%
  );
  background-position: right center;
  background-size: 200%;
  animation: shine 5s linear infinite;
}

.dropdown {
  position: absolute;
  top: 160%;
  left: -20%;
  width: 200px;
  background: var(--bg);
  border-radius: 8px;
  padding: 8px;
  border: 0.8px solid #4a4a4a;
  transition: all 0.2s ease 0.1s;
  opacity: 0;
  filter: drop-shadow(0 12px 36px #24252a99);
  visibility: hidden;
}

.nav-links {
  list-style-type: none;
}

.nav-links li {
  display: inline-block;
  padding: 8px 20px;
}

.nav-links li a {
  transition: all 0.3s ease;
}

.nav-links li a i {
  margin-left: 8px;
  transition: all 0.4s cubic-bezier(0.36, 0.08, 0, 1.77);
}

.nav-links li:hover a i {
  transform: rotate(180deg);
}

.nav-links li:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.dropdown li,
.dropdown a {
  width: 100%;
}

.section {
  width: 100%;
  height: fit-content;
}

.container {
  width: 100%;
  height: 100%;
  padding: 10% 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

h1 {
  font-weight: 800;
  font-size: 2.2rem;
  letter-spacing: -2px;
  text-align: center;
  line-height: 90%;
  color: var(--content-scd);
}

.page1 h1 {
  font-size: 3rem;
  background: linear-gradient(
    to right,
    #2783ec 0%,
    #b31fee 10%,
    #f81de6 20%,
    #f77878 50%,
    #24252a00 55%
  );
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  background-clip: text;
  background-position: right;
  animation: textGradient 2s cubic-bezier(0.46, 0.12, 0.19, 0.92) forwards;
}

.page1 p {
  color: var(--content-ter);
  text-align: center;
  font-weight: 600;
}

.page1 .btn {
  border: none;
  padding: 1rem 1.3rem;
  border-radius: 3em;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: var(--brand);
  color: var(--content-inv);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: translateY(0);
}

.page1 .sparkle {
  color: inherit;
  transition: all 500ms ease;
}

.page1 .text {
  font-weight: 500;
  color: inherit;
}

.page1 .btn:hover {
  background: linear-gradient(0deg, #a47cf3, #683fea);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 180px 0px #9917ff;
  transform: translateY(-2px);
}

.page1 .btn:hover .text {
  color: white;
}

.page1 .btn:hover .sparkle {
  color: white;
  transform: scale(1.2);
}

.btns {
  display: flex;
  gap: 12px;
  z-index: 1;
}

.page1 .btn:nth-child(2) {
  background: #1c1c1c;
  color: var(--content-scd);
  animation-delay: 200ms;
}

.page2 {
  padding: 10% 15%;
  position: relative;
  background: var(--bg);
}

.page2 .fade-up:nth-child(2) {
  animation-delay: 100ms;
}
.page2 .fade-up:nth-child(3) {
  animation-delay: 200ms;
}
.page2 .fade-up:nth-child(4) {
  animation-delay: 300ms;
}

.circle {
  width: 500px;
  opacity: 0.4;
  position: absolute;
  animation: rotate 30s linear infinite alternate;
}

.cards {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  gap: 36px;
}

.card {
  flex: 1;
  display: flex;
  background: var(--bg);
  border: 0.8px solid #4a4a4a;
  color: var(--content-scd);
  padding: 2% 2%;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
  overflow: hidden;
  text-align: center;
}

.card i {
  font-size: 2rem;
}

.card:hover {
  filter: drop-shadow(0 12px 48px #992cff4b);
  border: 1px solid var(--brand);
  background: linear-gradient(#8937d611, #8937d611), var(--bg);
  transform: translateY(-4px);
}

.page3 {
  background: var(--bg);
  padding: 10% 15%;
  gap: 4rem;
}

.pak-eko {
  display: flex;
  gap: 36px;
}

.pak-eko .card {
  flex: 1;
  border-radius: 36px;
  background-size: cover;
  background: url('../assets/pak-eko.png') no-repeat center center;
  background-size: cover;
  display: flex;
  position: relative;
  cursor: pointer;
}

.pak-eko .card .nama {
  position: absolute;
  background: var(--bg);
  color: var(--content-scd);
  display: flex;
  flex-direction: column;
  padding: 18px;
  border-radius: 36px;
  font-size: 11px;
  bottom: 5%;
}

.pak-eko .card .nama h4 {
  font-size: 13px;
  font-weight: 800;
}

.pak-eko .card:hover .nama h4 {
  background: linear-gradient(
    to right,
    #2783ec 0%,
    #b31fee 10%,
    #f81de6 20%,
    #f77878 50%,
    #24252a00 55%
  );
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  background-clip: text;
  background-position: right;
  animation: textGradient 1s cubic-bezier(0.46, 0.12, 0.19, 0.92) forwards;
}

.page3 div:has(p){
  flex: 2;
  text-align: justify;
  font-size: 16px;
  color: var(--content-ter);
}

.page3 div:has(p) ol li {
  pointer-events: none;
  flex: 2;
  text-align: justify;
  font-size: 16px;
  color: var(--content-ter);
}

.page3 div:has(p) span {
  font-weight: 700;
}

.visi {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.visi li {
  padding-inline-start: 0;
  list-style-position: inside;
}

.img-group {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 100%; /* Set the maximum width to 100% of the container */
}

.img-group img {
  object-fit: cover;
  margin: 4px;
  max-width: 300px;
  flex: 0 0 calc(25% - 8px); /* Adjust flex-basis to account for margins */
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
}

.page3:last-of-type .card img {
  max-width: 100%;
}